header 
    {
    background-color: #244751;
    color: #E8FDFF;
    }
  body 
    {
    background-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">
    }
  main 
    {
    background-color: white;
    padding: 16px;
    
    }
    .finstagram-post 
    {
        margin-bottom: 48px;
    }
    .finstagram-post .user-info img 
    {
        border-radius: 50%;
    }
    a.photo:hover
    {
      padding: 10px;
      transition: padding 0.5sec;
    }
    a.photo
    {
      transition: 0.5s;
    }
    a.photo:hover
    {
      padding: 10px;
    }

  


